<p id="notice"><%= notice %></p>

<h1>Dashboard</h1>

<a href="/go-artist">Artists</a>
<a href="/go-album">Albums</a>
<a href="/go-song">Songs</a>
<br>
<a href="/go-prof">Profiles</a>
<br>
<a href="/login">Login to EAR</a>
