<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EAR</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <div id="login-page">
      <img id="glass" src="/images/EarLoginBG.svg" alt="" />
      <div id="login-head">
        <span id="ear">E<span id="a"> A </span>R</span>
        <span id="sub">M U S I C</span>
      </div>
      <!-- <img id="logo" src="/images/EAR_Logo.svg" alt="" /> -->
      <div id="login-area">
        <h1>Login</h1>
        <div id="error">Incorrect Login Credentials</div>
        <form id="login-form" action="/try" method="post">
          <label for="username">Username</label>
          <input type="text" name="username">
          <div class=""></div>
          <br>
          <br>
          <label for="password">Password</label>
          <input type="text" name="password">
          <div class=""></div>
          <br>
          <button id="simple">LOGIN</button>
          <br>
          <button id="facebook" class="social fa fa-facebook"></button>
          <button id="google" class="social fa fa-google"></button>
        </form>
      </div>
    </div>
  </body>
</html>
