/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.database-table, th, td {
  border: 1px solid black;
  padding: 0;
}

.database-table td, th {
  height:auto;
  width:auto;
  padding: 5px;
}

.database-img {
  max-width: 150px;
  max-height: 100px;
  width:auto;
  height: auto;
  padding: 2px;
}

html, body {
  /*position: fixed;*/
  /*position: relative;*/
  padding: 0;
  margin: 0;
  top:0;
  left:0;
  bottom:0;
  right:0;
  /*background-color: rgb(255, 0, 0);*/
}
